rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Allow private read and write access
    match /users/{document} {
      allow read: if request.auth != null
      allow write: if request.auth != null
    }
  }
}